<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список продуктов</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Это список продуктов</h1>
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <form method="get" th:action="@{/}">
                <button type="submit" class="btn btn-secondary">Главная</button>
            </form>
        </li>
        <li class="nav-item">
            <form method="get" th:action="@{/all}">
                <button type="submit" class="btn btn-secondary">Список всех продуктов</button>
            </form>
        </li>
        <li class="nav-item">
            <form method="get" th:action="@{/add}">
                <button type="submit" class="btn btn-secondary">Добавление продукта</button>
            </form>
        </li>
    </ul>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <td>id</td>
            <td>Название</td>
            <td>Стоимость</td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}">1</td>
            <td th:text="${product.title}">Чай</td>
            <td th:text="${product.cost}">55</td>
            <td>
                <form method="get" th:action="@{${'/info/' + product.id}}">
                    <button type="submit" class="btn btn-info">Info</button>
                </form>
            </td>
            <td>
                <form method="post" th:action="@{${'/delete/' + product.id}}">
                    <button type="submit" class="btn btn-dark">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
